.DS_Store
node_modules
.worktrees
.sst
.env
.idea
.vscode
.codex
*~
playground
tmp
dist
ts-dist
.turbo
**/.serena
.serena/
/result
refs
Session.vim
/opencode.json
a.out
target
.scripts
.direnv/

# Local dev files
opencode-dev
UPCOMING_CHANGELOG.md
logs/
*.bun-build
tsconfig.tsbuildinfo
docker/opencode

# Build artifacts
opencode-desktop-windows-x64.zip
packages/desktop-electron/resources/opencode_compat.dll
packages/desktop-electron/resources/opencode-cli.exe
packages/opencode/dist/
